body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(196, 196, 196)
}

header {
    background-color: #b2d2dd;
    color: white;
    text-align: right;
    padding: 2% 2%; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start ;
}

nav ul li {
    margin-left:6%;
}

nav a {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; 
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
}

nav a:hover {
    color: #ffa500; 
}

.container {
    max-width: 90%; 
    margin: auto; 
    padding: 0 5%;
    min-height: 50vh;
}



img {
    max-width: 100%;
    height: auto;
}

main {
    max-width: 85%;
    max-height: 100%;
    margin: auto;
    background-color: white
}
h2{
    padding-top: 3%;
    margin: auto;
}
